<div class="img">
    <img class="beerimg" src="/images/beer.png" />
</div>
<div class="btns">
        <button> <a href="/beer">Check the beers!</a></button>
        <button> 
            
            
            
            <a href="/random-beer">Check a random beer!<a></button>
</div>

